.button {
    -fx-background-color: #0063C9;
    -fx-text-fill: #FFF;
    -fx-font-size: 15px;
    -fx-padding: 2px 2px;
    -fx-pref-height: 25px;
    -fx-pref-width: 100px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 4);
}

.button:hover {
    -fx-cursor: hand;
}

#pane {
    -fx-background-color: #e3e3e3;
}

.label {
    -fx-font-size: 14;
    -fx-font-family: Helvetica;
}

#HowToPlayLabel {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: Helvetica;
}